<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>nyrknaqre.rneyl@tznvy.pbz</string>
	<key>contactName</key>
	<string>Alexander Early</string>
	<key>description</p>
	<string><a href"https://github.com/aearly/isml-tmlanguage">https://github.com/aearly/isml-tmlanguage</a></string>
</dict>
</plist>
